.postContainer {
  width: 100%;
  max-width: var(--max-width);
  flex: 1;
  margin: 80px auto;
  padding: 80px 50px 0;
}
.postContent {
  margin: 56px 0 80px;
  width: 100%;
  font-size: 18px;
  color: var(--color-gray-02);
}
