.createPostForm {
  width: 1000px;
  flex: 1;
  margin: 80px auto;
  padding-top: 80px;
}
.textArea {
  width: 100%;
  font-size: 15px;
  border-radius: 0.4px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000000;
}
.formArea {
  margin-top: 50px;
}
input.blind {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.fileName {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #000000;
  width: 100%;
  color: #000;
}
.fileBox {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.fileName {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #000000;
  width: 100%;
  color: #000;
}
input.blind {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.fileButton {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
  width: 133px;
}

.fileButton:hover {
  background-color: ivory;
}

.preview {
  margin-top: 10px;
  text-align: center;
}

.preview img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.removeButton {
  margin-top: 5px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
